.breadcrumb {
	background: none;
	margin:0;
	padding:0;
	
	a {
		color: white;
	}
}

.container-background,#breadcrumb {
	text-align: center;
	background-color: $link-color;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	min-height: 220px;
	max-height: 360px;
	color: white;
	@include flex(); 
	justify-content: center;
	align-items: center;
	position: relative;
/* 	&:after {
		content :"";
		display: block;
		width: 4px;
		height: 46px;
		background: white;
		position: absolute;
		left: 50%;
		@include translateX(-50%)
		bottom: -23px;
	} */
	.feature-image {
		display: none;
	}
	ul li {
		a {
			font-size : 12px; 
		}
		&.active {
			a {
				font-weight: 700;
			}
		}
		& + li {
			&:before {
				content : ">";
				font-size: 11px;
			}
		}
	}
	.page-title {
		margin: 0;
	}
}

.form-control {
	&.error {
		border: 1px solid red;
	}
}

.loadmore {
	margin: 30px 0;
	a {
		text-transform: uppercase;
		font-size: 18px;
		position: relative;
		font-weight: bold;
		color: $link-color;
		&:after {
			content :"";
			display: block;
			position: absolute;
			width: 56%;
			height: 4px;
			background: $link-color;
			bottom: -20px;
			left: 50%;
			@include translateX(-50%)
		}
	}
}

.section {
	padding: 73px 0;
	position: relative;
	h3,h1,h2 {
		text-align: center;
	}
}
.text-center {
	text-align: center;
}

.content {
	background: white;
	padding: 20px;
	border-radius: 4px;
}


.nav-tabs {
	border: none;
	li {
		width: 20%;
		min-height: 180px;
		text-align: center;
		&.active {
			a {
				margin-top: 34px;
			}
		}
	}
	a {
		text-transform: capitalize;
		color: white!important;
		font-size: 24px;
		border: none!important;
		background: none!important;
		padding: 0 10px !important;
		img {
			display: block; 
			margin: 0px auto 30px;
		}
	}
}

.tab-pane {
	color: $text-color;

	padding: 10px;
	background: white;
	position: relative;
	.text-content {
		h3 {
			font-size: 24px;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				padding: 15px 20px;
				border-bottom: 1px solid #d8d8d8;
				&:last-child {
					border: none;
				}
				a {

				}
			}
		}
		h3 {
			text-transform: uppercase;
		}
	}
}
.slash {
	position: absolute;
	@include translateX(-50%);
	left: 50%;
	background: white;
	height: 40px;
	width: 4px;
	top: -20px;
}

.panel {
	border: none;
	box-shadow: none;
	text-align: left;
	
	.panel-body {
		p {
			margin: 0;
		}
	}
	h3 {
		text-align: left;
	}
	.panel-footer {
		padding:  0 20px 20px;
	}
	.image {
		position: relative;
		.play {
			width: 74px;
			border-radius: 50%;
			height: 74px;
			background:  rgba(73,148,193,.7);
			&:after {
				display:block;
				width: 0; 
				left: 50%;
				top: 50%;
				@include transform(-50%,-50%);
				height: 0;
				content :"";
				position: absolute; 
				border-top: 13px solid transparent;
				border-bottom: 13px solid transparent;
				border-left: 13px solid white;
			}
			position: absolute;
			left: 50%;
			top: 50%;
			@include transform(-50%,-50%);

		}
	}
}

.bootstrap-select {
	width: auto!important;
	.btn {
		background: white;
		border: none;
		display: block;
		padding: 15px 38px 15px 18px;
		background: white;
		min-width: 190px;
		text-align: left;
		position: relative;
		border-radius: 0;
		color: $text-color;
		font-weight: 300;
		.bs-caret {
			display: none;
		}
		&:after {
			margin-top: -2px;
			content :"";
			position: absolute;
			right: 22px;
			top: 50%;
			-webkit-transform: translateY(-50%) rotate(-45deg);
			transform: translateY(-50%) rotate(-45deg);
			border-left: 1px solid $text-color;
			border-bottom: 1px solid $text-color;
			width: 12px;
			height: 12px;
		}
	}
}

