//section hero

#hero {
	max-height: 716px;
	height: 716px;
	.hero-content {
		float: right;
		max-width: 560px;
		text-align: right;
		margin-top: -42px;
		p {
			line-height: 1.4; 
			font-size: 32px;
			margin-bottom: 55px;
		}
		.findmore {
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			color: $link-color;
			position: relative;
			&:after {
				content :"";
				display: block;
				height: 4px;
				width: 33%;
				background: $link-color;
				right: 0;
				position: absolute;
				bottom: -22px;
			}
		}
	}
}


.grid-item {
	width: 30.3333333%;
	h3 {
		font-size: 24px;
	}
	.image {
		img {
			width: 100%;
		}
	}
	.category {
		a {
			display: inline-block;
			padding: 10px;
			background: #e1641f;
			color: white;
			position: relative;
			top: -20px;
		} 
	}
	.panel-footer {
		background: none;
		border: none;
	}
	.author {
		font-weight: 700;
		font-style: italic; 
		& + .date {
			&:before {
				content :"-";
				margin: 0 10px;
				display: inline-block;

			}
		}
	}
}
.new-block {
	text-align: center;
}

.filter-box {
	margin:   30px 0;
	text-align: center;
	.button-filter {
		
		a {
			display: block;
			padding: 15px 18px;
			background: white;
			min-width: 190px;
			text-align: left;
			position: relative;
		}
		ul {
			a {
				padding: 5px 18px;
			}
		}
		&:after {
			content :"";
			position: absolute;
			right: 18px;
			top: 50%;
			-webkit-transform: translateY(-50%) rotate(-45deg);
			transform: translateY(-50%) rotate(-45deg);
			border-left: 1px solid $text-color;
			border-bottom: 1px solid $text-color;
			width: 10px;
			height: 10px;
		}
		& + .button-filter {
			margin-left: 8px;
		}
		display: inline-block;
	}
}
.filter-label {
	margin: 30px 0;
}
.orage {
	background: #e1641f!important;
}
.grey {
	background: #58595b!important;
}
.blue {
	background: #1165a6!important;
}
.light-blue {
	background: #2189c4!important;

}


// list-consultants
#consultants {
	text-align: center;
	background: white;
	.slick-list {
		position: relative;
		&:after {
			background: #eeeeee;
		    content: "";
		    display: block;
		    height: 4px;
		    left: 50%;
		    position: absolute;
		    top: 100px;
		    transform: translateX(-50%);
		    width: 70%;

		}
		.slick-track {
			position: relative;
			z-index: 3;
		}
	}
	h3 {
		font-size: 24px;
		margin: 0 0 48px;
	}
}

.list-consultants {
	max-width: 950px;
	margin: 0 auto 42px; 
	color: #939598;
	font-size: 16px;
	.slick-slide {
		text-align: center;
		margin: 0 50px;
		a:hover {
			opacity: 1;
		}
		
	}
	.slick-prev, .slick-next {
		top: 30%;
		width: auto;
		height: auto;
		&:before {
			font-size: 45px;
		}
	}
	.slick-next {
		right: -54px;
	}
	.slick-prev {
		left: -54px;
	}
	.slick-list {
		padding: 10px 0;
	}
	.text {
		position: relative;
		&:before {
			content :"";
			display: block;
			width: 1px;
			height: 17px;
			background: #58595b;
			left: 50%;
			@include translateX(50%);
			top: -34px;
			position: absolute;
		}
	}
	.image {
		width: 190px;
		height: 190px;
		overflow: hidden;
		border-radius: 50%;
		box-shadow: 0 0 8px rgba(0,0,0,0.22);
		margin: 0 auto 28px;
		text-align: center;
		img {
			width: 190px;
			height: 190px;
		}
	
	}
	.name {
		font-size: 18px;
		text-transform: uppercase;
		color: #1165a6;
		margin: 12px 0 4px;
		font-weight: 700;
	}

	.role {
		font-weight: bold;
	}

	.title {
		font-weight: 600;
		font-style: italic;
	}

	img {
		border-radius: 50%;
		display: inline;
	}
}

.industry {
	text-align: center;
	padding: 70px 0 40px;
	background: url(../images/industry-bg.png) no-repeat center top;
	background-size: cover;
	color: white;
	font-size: 16px;
	.container {
		max-width: 1110px;
	}
	.industry-box {
		text-align: left;
		margin: 45px 0;
	}
	h4 {
		font-weight: 700;
		font-size: 24px;
		span {
			font-size: 50px;
			margin-right: 10px;
		}
		sup {
			top: -16px;
			font-size: 28px;
		}
		padding: 0 0 25px;
		margin: 0 0 20px 0;
		position: relative;
		&:after {
			position: absolute;
			content:"";
			width: 32px;
			height: 1px;
			background: white;
			bottom: 0;
			left: 0;
		}
	}
	h3 {
		font-size: 40px;
		font-weight: 300;

	}
}




// page 404 
.page-404 {
	.navbar-header {
		float: none;
		height: auto;
	}
	#header {
		background: white;
		padding: 36px 0;
	}
	#header .navbar-brand {
		margin: 0;
		float: none; 
		height: auto;
		display: block;
		img {
			margin: 0 auto;
		}
	}
	.main {
		position: relative;
		height: calc(100vh - 122px);
		background: url(../images/404.png) no-repeat center top;
		background-size: cover;
		@include xxs {
			background-size: auto 100%;
		}
	}
	#content-404 {
		position: absolute;
		bottom: 20%;
		width: 100%;
		text-align: center;
		a {
			color: $brand-color;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 18px;
			position: relative;
			&:after {
				content :"";
				width: 30%;
				height: 4px;
				background: $brand-color;
				position: absolute;
				bottom: -20px;
				left: 50%;
				@include translateX(-50%);
			}
		}
	}
}

// page maintain
.page-maintain {
	.main {
		height: 100vh;
		@include xs {
			height: 100%;
		}
		background: url(../images/maintain-bg.png) no-repeat center top;
		background-size: cover;
	}
	.content {
		background: none;
		text-align: right;
		font-size: 20px;
		color: white;
		p:last-child {
			margin-top: 20px;
			padding-top: 20px;
			display: inline-block;
			border-top: 2px solid rgba(154,154,154,0.3);
			color: $link-color;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: 700;
			a {
				color: $link-color;
				position: relative;
				&:after {
					content :"";
					width: 40%;
					height: 4px;
					background: $brand-color;
					position: absolute;
					bottom: -18px;
					right: 0;
				}
			}
		}

	}
	.navbar-brand {
		background: white;
		float: none;
		height: auto;
		padding: 30px 35px;
		display: inline-block;		
	}
	h1 {
		font-weight: 300;
		font-size: 32px;
		padding-bottom: 30px;
		border-bottom: 2px solid rgba(154,154,154,0.3);
		margin: 30px 0;
	}
}

.more {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #ffffff;
	text-align: center;
	position: relative;
	display: inline-block;
	i {
		color: white;
		font-size: 20px;
		position: absolute;
		top: 50%;
		height: 18px;
		line-height: 16px;
		left: 50%;
		@include transform(-50%,-50%);
	}
}


// help-region

.help-region {
	background: url(../images/help-bg.png) no-repeat center top;
	background-size: cover;
	color: white;
	padding-bottom: 50px;
	.nav-tabs {
		max-width: 1135px;
		margin: 68px auto 38px;
	}
	.text-content {
		h3 {
			margin: 87px 0 30px;
		}
		ul {
			margin: 0;
		}
		
	}
	.col-md-4:nth-child(1) {
		width: 35.6%;
	}
	.col-md-4:nth-child(2) {
		width: 29.5%
	}
	.col-md-4:nth-child(3) {
		width: 34.9%
	}
	.tab-content {
		max-width: 1472px;
		margin: 0 auto;
	}
	.nav-tabs {
		li.active:after {
			content:"";
			display: block;
			width: 0;  
			bottom: -38px;
			left: 50%;
			position: absolute;
			@include translateX(-50%);
			height: 0; 
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-bottom: 20px solid $white;
		}
	}
	.slick-prev, .slick-next {
		bottom: 35px;
		right: 40px;
		top: auto;
		width: auto;
		height: auto;
		@include transform(0,0);
		&:before {
			color: white;
		}
	}
	.slick-prev {
		left: auto;
		z-index: 2;
		right: 80px;
	}
	.img {
		max-height: 492px;
	}
}

.slick-prev, .slick-next {
	&:before {
	content:"\f105";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit; // can't have font-size inherit on line above, so need to override
	text-rendering: auto; // optimizelegibility throws things off #1094
	-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-size: 40px;
	opacity: 1;
	color: #58595b;
	}
}
.slick-prev {	
	&:before {
		content:"\f104";
	}
}

.help-sticker {
	.help-slicker-content {
		position: relative;
		max-height: 492px;
		text-align: right;

	}
	.text {
		font-size: 30px;
		color: $white;
		position: absolute;
		right: 40px;
		max-width: 346px;
		bottom: 80px;
	}
	
}

.contact-info {

	.contact-info-item {
		display: table;
		padding: 47px 20px 47px 50px;
		color: white;
		background: #1165a6;
		font-size: 20px;
		.contact-info-item-left {
			width: 175px;
			text-align: center;
			img {
				display: inline;
				width: 86px;
			}
			display: table-cell;
			vertical-align: middle;
		}
		.contact-info-item-body {
			display: table-cell;
			vertical-align: middle;
			p {
				line-height: 1.3;
				margin-bottom: 15px;
			}
		}
	}
	.contact-info-item:nth-child(2) {
		background: #143b86;
	}
	.text {
		min-height: 140px;
	}
}

.flex-block {
	display: flex;
}
