//section hero

#hero {
	max-height: 716px;
	height: 716px;
	.hero-content {
		float: right;
		max-width: 560px;
		text-align: right;
		margin-top: -42px;
		p {
			line-height: 1.4; 
			font-size: 32px;
			margin-bottom: 55px;
		}
		.findmore {
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			color: $link-color;
			position: relative;
			&:after {
				content :"";
				display: block;
				height: 4px;
				width: 33%;
				background: $link-color;
				right: 0;
				position: absolute;
				bottom: -22px;
			}
		}
	}
}



.filter-box {
	margin: 52px 0 30px;
	text-align: center;
	.button-filter {

		ul {
			a {
				padding: 5px 18px;
			}
		}
		& + .button-filter {
			margin-left: 8px;
		}
		display: inline-block;
	}
}
.filter-label {
	margin: 30px 0;
	font-size: 24px;
}


// list-consultants
#consultants {
	text-align: center;
	background: white;
	.slick-list {
		position: relative;
		&:after {
			background: #eeeeee;
		    content: "";
		    display: block;
		    height: 4px;
		    left: 50%;
		    position: absolute;
		    top: 100px;
		    transform: translateX(-50%);
		    width: 70%;

		}
		.slick-track {
			position: relative;
			z-index: 3;
		}
	}
	h3 {
		font-size: 24px;
		margin: 0 0 48px;
	}
}

.list-consultants {
	max-width: 950px;
	margin: 0 auto 42px; 
	color: #939598;
	font-size: 16px;
	.slick-slide {
		text-align: center;
		margin: 0 50px;
		a:hover {
			opacity: 1;
		}
		
	}
	.slick-prev, .slick-next {
		top: 30%;
		width: auto;
		height: auto;
		&:before {
			font-size: 45px;
		}
	}
	.slick-next {
		right: -54px;
	}
	.slick-prev {
		left: -54px;
	}
	.slick-list {
		padding: 10px 0;
	}
	.text {
		position: relative;
		&:before {
			content :"";
			display: block;
			width: 1px;
			height: 17px;
			background: #58595b;
			left: 50%;
			@include translateX(50%);
			top: -34px;
			position: absolute;
		}
	}
	.image {
		width: 190px;
		height: 190px;
		overflow: hidden;
		border-radius: 50%;
		box-shadow: 0 0 8px rgba(0,0,0,0.22);
		margin: 0 auto 28px;
		text-align: center;
		img {
			width: 190px;
			height: 190px;
		}
	
	}
	.name {
		font-size: 18px;
		text-transform: uppercase;
		color: #1165a6;
		margin: 12px 0 4px;
		font-weight: 700;
	}

	.role {
		font-weight: bold;
	}

	.title {
		font-weight: 600;
		font-style: italic;
	}

	img {
		border-radius: 50%;
		display: inline;
	}
}

.industry {
	text-align: center;
	padding: 70px 0 40px;
	background: url(../images/industry-bg.png) no-repeat center top;
	background-size: cover;
	color: white;
	font-size: 16px;
	.container {
		max-width: 1110px;
	}
	.industry-box {
		text-align: left;
		margin: 45px 0;
		p {
			font-weight: 500;
		}
	}
	h4 {
		font-weight: 700;
		font-size: 24px;
		span {
			font-size: 50px;
			margin-right: 10px;
		}
		sup {
			top: -16px;
			font-size: 28px;
		}
		padding: 0 0 25px;
		margin: 0 0 20px 0;
		position: relative;
		&:after {
			position: absolute;
			content:"";
			width: 32px;
			height: 1px;
			background: white;
			bottom: 0;
			left: 0;
		}
	}
	h3 {
		font-size: 40px;
		font-weight: 300;

	}
}





// help-region

.help-region {
	background: url(../images/help-bg.png) no-repeat center top;
	background-size: cover;
	color: white;
	padding-bottom: 50px;
	.nav-tabs {
		max-width: 1135px;
		margin: 68px auto 38px;
	}
	.text-content {
		h3 {
			margin: 21% 0 30px;
		}
		ul {
			margin: 0;
		}
		
	}
	.col-md-4:nth-child(1) {
		width: 35.6%;
	}
	.col-md-4:nth-child(2) {
		width: 29.5%
	}
	.col-md-4:nth-child(3) {
		width: 34.9%
	}
	.tab-content {
		max-width: 1472px;
		margin: 0 auto;
	}
	.nav-tabs {
		li.active:after {
			content:"";
			display: block;
			width: 0;  
			bottom: -38px;
			left: 50%;
			position: absolute;
			@include translateX(-50%);
			height: 0; 
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-bottom: 20px solid $white;
		}
	}
	.slick-prev, .slick-next {
		bottom: 35px;
		right: 40px;
		top: auto;
		width: auto;
		height: auto;
		@include transform(0,0);
		&:before {
			color: white;
		}
	}
	.slick-prev {
		left: auto;
		z-index: 2;
		right: 80px;
	}
	.img {
		max-height: 492px;
	}
}

.slick-prev, .slick-next {
	&:before {
	content:"\f105";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit; // can't have font-size inherit on line above, so need to override
	text-rendering: auto; // optimizelegibility throws things off #1094
	-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-size: 40px;
	opacity: 1;
	color: #58595b;
	}
}
.slick-prev {	
	&:before {
		content:"\f104";
	}
}

.help-sticker {
	.help-slicker-content {
		position: relative;
		max-height: 492px;
		text-align: right;

	}
	.text {
		font-size: 30px;
		color: $white;
		position: absolute;
		right: 40px;
		max-width: 346px;
		bottom: 80px;
	}
	
}

.contact-info {
	.contact-info-item {
		display: table;
		padding: 47px 20px 47px 50px;
		color: white;
		background: #1165a6;
		font-size: 20px;
		.contact-info-item-left {
			width: 175px;
			text-align: center;
			img {
				display: inline;
				width: 86px;
			}
			display: table-cell;
			vertical-align: middle;
		}
		.contact-info-item-body {
			display: table-cell;
			vertical-align: middle;
			p {
				line-height: 1.3;
				margin-bottom: 15px;
			}
		}
	}
	.contact-info-item:nth-child(2) {
		background: #143b86;
	}
	.text {
		min-height: 140px;
	}
}



//insights section
.insights-region{
	.loadmore {
		margin-top: 50px;
	}
}
.mix[data-bound] {
            display: none;
        }
.grid-masonry {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	/* -moz-column-gap: 20px;
	-webkit-column-gap: 20px;
	column-gap: 20px; */
	-webkit-backface-visibility: hidden;
	overflow: hidden;
	.grid-item {
		text-align: left;
		vertical-align: top;
		width: 100%;
		padding: 20px 15px;
		-webkit-backface-visibility: hidden;
		-webkit-transform-origin: 50% 0;
		display: inline-block;
		.panel {
			margin: 0;

			border-radius: 0;
			box-shadow: 0 0 6px 2px rgba(0,0,0,0.1);
		}
	}
}


.grid-item {
	font-weight: 500;
	h3 {
		font-size: 24px;
		font-weight: 500;
		line-height:1.4;
	}
	.image {
		img {
			width: 100%;
		}
	}
	.tag {
		a {
			display: inline-block;
			padding: 18px 20px;
			background: #e1641f;
			color: white;
			position: relative;
			font-weight: 700;
			top: -28px;
		} 
	}
	.panel-body {
		padding-top: 0;
		padding-left: 20px;
			padding-right: 20px;
		p {
			line-height: 1.6;
		}
	}
	.image:empty {
		margin: 0 0 28px;
	}
	.panel-footer {
		background: none;
		border: none;
	}
	.author {
		font-weight: 700;
		font-style: italic; 
		& + .date {
			&:before {
				content :"-";
				margin: 0 10px;
				display: inline-block;

			}
		}
	}
}
