

// Color
$white: #fff;
$black: #000;
$dark-grey: #eeeeee;
$dark-greyer: #555555;
$light-grey: #838383;
$lighter-grey: #e5e5e5;
$white-smoke: #999999;
$white-light-smoke: #f8f8f8;
$dark-blue: #001a34;
$light-blue: #0079a0;
$brand-color: #e16521;
$orange: #e16521;
$black-red: #010000;
// Font-faceregular
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$place-holder: #58595b;
// Global Component

$text-color: $light-grey;
$menu-color: #58595b;
$link-color: $brand-color;
$font-base: 14px;
$bg-menu:#f7f5f5;
$border-menu:#c7c6c6;

