extends layouts/default
block content
	include includes/hero.pug
	section.section.help-region
		span.slash
		.container-fluid
			.row
				.col-xs-12
					h3 How can we help you today?
					.tab-section
						ul.nav.nav-tabs
							li.active
								a(data-toggle="tab" href="#employers")
									img(src="assets/images/employers-img.png" class="icon")
									| employers
							li
								a(data-toggle="tab" href="#employees")
									img(src="assets/images/employees-img.png" class="icon")
									| Employess
							li
								a(data-toggle="tab" href="#RTOs")
									img(src="assets/images/rtos-img.png" class="icon")
									| RTOs
							li
								a(data-toggle="tab" href="#associations")
									img(src="assets/images/associations-img.png" class="icon")
									| Associations
							li
								a(data-toggle="tab" href="#career-advisors")
									img(src="assets/images/career-advisors-img.png" class="icon")
									| Carrer Advisors
						div.tab-content
							div#employers.tab-pane.fade.in.active
								.row.flex-block
									div.col-xs-12.col-md-4.col-sm-12
										.help-sticker
											div
												.help-slicker-content
													.img
														img(src="assets/images/help-img01.png" alt="")
													.text 
														p Helping build a skilled workforce for Territory businesses
											div
												.help-slicker-content
													.img
														img(src="assets/images/help-img01.png" alt="")
													.text 
														p Helping build a skilled workforce for Territory businesses
									div.col-xs-12.col-md-4.col-sm-12
										.text-content
											h3 I’M LOOKING TO...
											ul
												li 
													a(href="#")
														| Employ migrant workers
												li 
													a(href="#")
														| Get help with recruitment and retention
												li 
													a(href="#")
														| Find training opportunities for my staff
												li 
													a(href="#")
														| List a job as high demand
												li
													a(href="#")
														| Find skilled workers
									div.col-xs-12.col-md-4.col-sm-12
										.contact-info
											.contact-info-item
												.contact-info-item-left.media-middle
													img(class="media-object" src="assets/images/contact01.png" alt="" )
												.contact-info-item-body
													.text
														p Learn more about the value of VET in the workplace.
														a.more(href="#")
															i.fa.fa-angle-right
											.contact-info-item
												.contact-info-item-left.media-middle
													img(class="media-object" src="assets/images/contact02.png" alt="")
												.contact-info-item-body
													.text
														p Improve your business.Talk to an Industry Engagement Officer today.
														a.more(href="#")
															i.fa.fa-angle-right 


							div#employees.tab-pane.fade
								.row.flex-block
									div.col-xs-12.col-md-4.col-sm-12
										.help-sticker
											div
												.help-slicker-content
													.img
														img(src="assets/images/help-img01.png" alt="")
													.text 
														p Helping build a skilled workforce for Territory businesses
											div
												.help-slicker-content
													.img
														img(src="assets/images/help-img01.png" alt="")
													.text 
														p Helping build a skilled workforce for Territory businesses
									div.col-xs-12.col-md-4.col-sm-12
										.text-content
											h3 I’M LOOKING TO Tab2
											ul
												li 
													a(href="#")
														| Employ migrant workers
												li 
													a(href="#")
														| Get help with recruitment and retention
												li 
													a(href="#")
														| Find training opportunities for my staff
												li 
													a(href="#")
														| List a job as high demand
												li
													a(href="#")
														| Find skilled workers
									div.col-xs-12.col-md-4.col-sm-12
										.contact-info
											.contact-info-item
												.contact-info-item-left.media-middle
													img(class="media-object" src="assets/images/contact01.png" alt="" )
												.contact-info-item-body
													.text
														p Learn more about the value of VET in the workplace.
														a.more(href="#")
															i.fa.fa-angle-right
											.contact-info-item
												.contact-info-item-left.media-middle
													img(class="media-object" src="assets/images/contact02.png" alt="")
												.contact-info-item-body
													.text
														p Improve your business.Talk to an Industry Engagement Officer today.
														a.more(href="#")
															i.fa.fa-angle-right 
							div#RTOs.tab-pane.fade
								.row.flex-block
									div.col-xs-12.col-md-4.col-sm-12
										.help-sticker
											div
												.help-slicker-content
													.img
														img(src="assets/images/help-img01.png" alt="")
													.text 
														p Helping build a skilled workforce for Territory businesses
											div
												.help-slicker-content
													.img
														img(src="assets/images/help-img01.png" alt="")
													.text 
														p Helping build a skilled workforce for Territory businesses
									div.col-xs-12.col-md-4.col-sm-12
										.text-content
											h3 I’M LOOKING TO Tab3
											ul
												li 
													a(href="#")
														| Employ migrant workers
												li 
													a(href="#")
														| Get help with recruitment and retention
												li 
													a(href="#")
														| Find training opportunities for my staff
												li 
													a(href="#")
														| List a job as high demand
												li
													a(href="#")
														| Find skilled workers
									div.col-xs-12.col-md-4.col-sm-12
										.contact-info
											.contact-info-item
												.contact-info-item-left.media-middle
													img(class="media-object" src="assets/images/contact01.png" alt="" )
												.contact-info-item-body
													.text
														p Learn more about the value of VET in the workplace.
														a.more(href="#")
															i.fa.fa-angle-right
											.contact-info-item
												.contact-info-item-left.media-middle
													img(class="media-object" src="assets/images/contact02.png" alt="")
												.contact-info-item-body
													.text
														p Improve your business.Talk to an Industry Engagement Officer today.
														a.more(href="#")
															i.fa.fa-angle-right
							div#associations.tab-pane.fade
								.row.flex-block
									div.col-xs-12.col-md-4.col-sm-12
										.help-sticker
											div
												.help-slicker-content
													.img
														img(src="assets/images/help-img01.png" alt="")
													.text 
														p Helping build a skilled workforce for Territory businesses
											div
												.help-slicker-content
													.img
														img(src="assets/images/help-img01.png" alt="")
													.text 
														p Helping build a skilled workforce for Territory businesses
									div.col-xs-12.col-md-4.col-sm-12
										.text-content
											h3 I’M LOOKING TO Tab4
											ul
												li 
													a(href="#")
														| Employ migrant workers
												li 
													a(href="#")
														| Get help with recruitment and retention
												li 
													a(href="#")
														| Find training opportunities for my staff
												li 
													a(href="#")
														| List a job as high demand
												li
													a(href="#")
														| Find skilled workers
									div.col-xs-12.col-md-4.col-sm-12
										.contact-info
											.contact-info-item
												.contact-info-item-left.media-middle
													img(class="media-object" src="assets/images/contact01.png" alt="" )
												.contact-info-item-body
													.text
														p Learn more about the value of VET in the workplace.
														a.more(href="#")
															i.fa.fa-angle-right
											.contact-info-item
												.contact-info-item-left.media-middle
													img(class="media-object" src="assets/images/contact02.png" alt="")
												.contact-info-item-body
													.text
														p Improve your business.Talk to an Industry Engagement Officer today.
														a.more(href="#")
															i.fa.fa-angle-right 
							div#career-advisors.tab-pane.fade
								.row.flex-block
									div.col-xs-12.col-md-4.col-sm-12
										.help-sticker
											div
												.help-slicker-content
													.img
														img(src="assets/images/help-img01.png" alt="")
													.text 
														p Helping build a skilled workforce for Territory businesses
											div
												.help-slicker-content
													.img
														img(src="assets/images/help-img01.png" alt="")
													.text 
														p Helping build a skilled workforce for Territory businesses
									div.col-xs-12.col-md-4.col-sm-12
										.text-content
											h3 I’M LOOKING TO Tab5
											ul
												li 
													a(href="#")
														| Employ migrant workers
												li 
													a(href="#")
														| Get help with recruitment and retention
												li 
													a(href="#")
														| Find training opportunities for my staff
												li 
													a(href="#")
														| List a job as high demand
												li
													a(href="#")
														| Find skilled workers
									div.col-xs-12.col-md-4.col-sm-12
										.contact-info
											.contact-info-item
												.contact-info-item-left.media-middle
													img(class="media-object" src="assets/images/contact01.png" alt="" )
												.contact-info-item-body
													.text
														p Learn more about the value of VET in the workplace.
														a.more(href="#")
															i.fa.fa-angle-right
											.contact-info-item
												.contact-info-item-left.media-middle
													img(class="media-object" src="assets/images/contact02.png" alt="")
												.contact-info-item-body
													.text
														p Improve your business.Talk to an Industry Engagement Officer today.
														a.more(href="#")
															i.fa.fa-angle-right 


	section.section.insights-region#insights
		.slash.grey.top0
		.container
			.row
				.col-xs-12.col-sm-12
					h3 Insights
					include includes/region-insights.pug
	section.section.consultants#consultants
		.container
			.row
				.col-xs-12
					h3 Insights from Industry Engagement Officers
					include includes/Insights-from-Industry-Engagement.pug
	include includes/industry-trend.pug							 
	include includes/region-footer.pug
			