extends layouts/default
block content
	include includes/hero.pug
	section.new-block#insights
		.container
			.row
				.col-xs-12.col-sm-12
					h3 Insights
					include includes/region-insights.pug
	section.consultants#consultants
		.container
			.row
				.col-xs-12
					h3 Insights from Industry Engagement Officers
					include includes/Insights-from-Industry-Engagement.pug
	include includes/industry-trend.pug							 
	include includes/region-footer.pug
			