footer.footer
	.footer-top
		.container
			ul.navbar-footer
				li
					a(href="" title="") 
						| Disclaimer
				li
					a(href="" title="")
						| Privacy Policy
				li
					a(href="" title="") 
						| Website by Captovate
			.copyright
				| &copy; 2016
			
			