section#hero.bg-container
	.container
		.row
			.col-xs-12
				img.feature-image(src="assets/images/hero-img.png" alt="")
				.hero-content

					p 
						| We provide advice on skills shortages, vocational education and industry training to support Territory businesses in their pursuit for high caliber candidates.
					a.findmore(href="")
						| Find out more

