section.section#industry.industry
		span.slash
		h3 Industry Trends
		.container
			.row
				.col-xs-6.col-sm-6.col-md-3
					.industry-box
						h4
							sup $
							span
								| 6
							| b
						p
							| Mineral & Petroleum
							br 
							| Production P/A
				.col-xs-6.col-sm-6.col-md-3
					.industry-box
						h4
							span
								| 25%
							| increase
						p
							| In exports between
							br 
							| 2010 - 2015
				.col-xs-6.col-sm-6.col-md-3
					.industry-box
						h4
							span
								| 13,174
						p
							| People employed
							br 
							| across the industries
				.col-xs-6.col-sm-6.col-md-3
					.industry-box
						h4
							sup $
							span
								| 237.5
							| m
						p
							| Dispersed in
							br 
							| royalties

					