
.list-consultants
	div
		.consultant-box
			.image
				a(href="") 
					img(src="assets/images/person01.png" alt="")
			.text
				.name
					| katarina Smith
				.role
					| Mining and construction
				.title
					| Title job
	div
		.consultant-box
			.image
				a(href="") 
					img(src="assets/images/person01.png" alt="")
			.text
				.name
					| katarina Smith
				.role
					| Mining and construction
				.title
					| Title job
	div
		.consultant-box
			.image
				a(href="") 
					img(src="assets/images/person01.png" alt="")
			.text
				.name
					| katarina Smith
				.role
					| Mining and construction
				.title
					| Title job

	div
		.consultant-box
			.image
				a(href="") 
					img(src="assets/images/person01.png" alt="")
			.text
				.name
					| katarina Smith
				.role
					| Mining and construction
				.title
					| Title job
.loadmore
	a(href="")
		| view all


