section.region
		.container-fluid
			.row.region-footer.flex-block
				.col-xs-12.col-sm-4.col-md-4
					.block
						h3
							| Stay in touch
						p
							| Sign up to our newsletter. Get our lastest news and opinion pieces ahead of he crowd
						form.newsletter
							.newsletter-form-group
								input.form-control(placeholder="your name" type="text")
								button(type="submit")
									| Next
				.col-xs-12.col-sm-4.col-md-4
					.block
						h3
							| Get Connected
						p
							| Stay in the picture. Follow us on Facebook and LinkedIn to read our news and share questions, opinions and advice
						.social-block
							ul
								li
									a(href="")
										i.fa.fa-facebook
								li
									a(href="")
										i.fa.fa-linkedin

				.col-xs-12.col-sm-4.col-md-4
					.block
						h3
							| Contact us
						.location-block
							i.fa.fa-map-marker
							p 
								| 10-54 Salonika Street,
								br 
								| The Gardens NT 0820
							p 
								| LMB 13 Darwin NT 0801
								br 
								| CRICOS Provider No: 00466K