.filter-box
	.button-filter.dropdown
		select.selectpicker
			option(value=".Mining_and_construction")  Mining and construction
			option(value=".Industry") Industry
			option(value=".Business") Business

	.button-filter.dropdown
		a(data-toggle="dropdown" href="#" )
			| Topic
		ul.dropdown-menu 
			li
				a(class="filter" data-filter=".Mining_and_construction")
					| Mining and construction
			li
				a(class="filter" data-filter=".Industry")
					| Industry
			li
				a(class="filter" data-filter=".Business")
					| Industry
	.button-filter.dropdown
		a(data-toggle="dropdown" href="#" )
			| Region
		ul.dropdown-menu 
			li
				a(class="filter" data-filter=".Mining_and_construction")
					| Mining and construction
			li
				a(class="filter" data-filter=".Industry")
					| Industry
			li
				a(class="filter" data-filter=".Business")
					| Business
.filter-label
	| Insights by Industry

#grid-masonry.grid-masonry
	.grid-item.mix.Mining_and_construction
		.panel
			.image
				img(src="assets/images/img01.png")
			.category
				a.orage(href="")
					| Mining and construction
			.panel-body
				h3
					a(href="") Skills shortage in refrigeration mechanics to be filled by former Inpex workers
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
	.grid-item.mix.Industry
		.panel
			.image
			.category
				a.blue(href="")  
					| Industry
			.panel-body
				h3
					a(href="") Skills shortage in refrigeration mechanics to be filled by former Inpex workers
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
	.grid-item.mix.Business
		.panel
			.image
				img(src="assets/images/img01.png")
			.category
				a.grey(href="") Business
			.panel-body
				h3
					a(href="") Lorem ipsum dolor sit amet
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
	.grid-item.mix.Mining_and_construction
		.panel
			.image
				img(src="assets/images/img01.png")
			.category
				a.orage(href="")
					| Mining and construction
			.panel-body
				h3
					a(href="") Skills shortage in refrigeration mechanics to be filled by former Inpex workers
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
	.grid-item.mix.Industry
		.panel
			.image
			.category
				a.light-blue(href="")  
					| Industry
			.panel-body
				h3
					a(href="") Skills shortage in refrigeration mechanics to be filled by former Inpex workers
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
	.grid-item.mix.Business
		.panel
			.image
				img(src="assets/images/img01.png")
			.category
				a.grey(href="") Business
			.panel-body
				h3
					a(href="") Lorem ipsum dolor sit amet
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
.loadmore
	a#view-more(href="")
		| View more
