.filter-box
	.button-filter.dropdown
		a(data-toggle="dropdown" href="#" )
			| Industry
		ul.dropdown-menu 
			li
				a( href="javascript:void(0)"  data-filter=".Mining_and_construction")
					| Mining and construction
			li
				a( href="javascript:void(0)"  data-filter=".Industry")
					| Industry
			li
				a( href="javascript:void(0)"  data-filter=".Business")
					| Business

	.button-filter.dropdown
		a(data-toggle="dropdown" href="#" )
			| Topic
		ul.dropdown-menu 
			li
				a( href="javascript:void(0)"  data-filter=".Mining_and_construction")
					| Mining and construction
			li
				a( href="javascript:void(0)"  data-filter=".Industry")
					| Industry
			li
				a( href="javascript:void(0)"  data-filter=".Business")
					| Business
	.button-filter.dropdown
		a(data-toggle="dropdown" href="#" )
			| Region
		ul.dropdown-menu 
			li
				a( href="javascript:void(0)"  data-filter=".Mining_and_construction")
					| Mining and construction
			li
				a( href="javascript:void(0)"  data-filter=".Industry")
					| Industry
			li
				a( href="javascript:void(0)"  data-filter=".Business")
					| Business
.filter-label
	| Insights by Industry

.grid
	.grid-item.Mining_and_construction
		.panel
			.image
				img(src="assets/images/img01.png")
			.category
				a.orage(href="")
					| Mining and construction
			.panel-body
				h3
					a(href="") Skills shortage in refrigeration mechanics to be filled by former Inpex workers
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
	.grid-item.Industry
		.panel
			.image
			.category
				a.blue(href="")  
					| Industry
			.panel-body
				h3
					a(href="") Skills shortage in refrigeration mechanics to be filled by former Inpex workers
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
	.grid-item.Business
		.panel
			.image
				img(src="assets/images/img01.png")
			.category
				a.grey(href="") Business
			.panel-body
				h3
					a(href="") Lorem ipsum dolor sit amet
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
	.grid-item.Mining_and_construction
		.panel
			.image
				img(src="assets/images/img01.png")
			.category
				a.orage(href="")
					| Mining and construction
			.panel-body
				h3
					a(href="") Skills shortage in refrigeration mechanics to be filled by former Inpex workers
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
	.grid-item.Industry
		.panel
			.image
			.category
				a.light-blue(href="")  
					| Industry
			.panel-body
				h3
					a(href="") Skills shortage in refrigeration mechanics to be filled by former Inpex workers
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
	.grid-item.Business
		.panel
			.image
				img(src="assets/images/img01.png")
			.category
				a.grey(href="") Business
			.panel-body
				h3
					a(href="") Lorem ipsum dolor sit amet
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
.loadmore
	a(href="")
		| load more
