.filter-box#Filters
	.button-filter.dropdown
		select.selectpicker
			option(value=".Industry") Industry
			option(value=".Business") Business
			option(value=".Mining_and_construction")  Mining and construction

	.button-filter.dropdown
		select.selectpicker
			option(value=".topic")  Topic
			option(value=".major_industries") Major Industries
			option(value=".topic2") Topic 2

	.button-filter.dropdown
		select.selectpicker
			option(value=".region")  Region
			option(value=".region1") Region 1
			option(value=".region2") Region 2

.filter-label.text-center
	| Insights by Industry

#grid-masonry.grid-masonry
	.grid-item.mix.Mining_and_construction
		.panel
			.image
				img(src="assets/images/img01.png")
			.tag
				a.orage(href="")
					| Mining and construction
			.panel-body
				h3
					a(href="") Skills shortage in refrigeration mechanics to be filled by former Inpex workers
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
	.grid-item.mix.Industry
		.panel
			.image
			.tag
				a.blue(href="")  
					| Industry
			.panel-body
				h3
					a(href="") Skills shortage in refrigeration mechanics to be filled by former Inpex workers
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
	.grid-item.mix.region1.Mining_and_construction.Industry
		.panel
			.image
				img(src="assets/images/img01.png")
			.tag
				a.grey(href="") major_industries region1 Industry
			.panel-body
				h3
					a(href="") Lorem ipsum dolor sit amet
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
	.grid-item.mix.Mining_and_construction.region1
		.panel
			.image
				img(src="assets/images/img01.png")
			.tag
				a.orage(href="")
					| Mining and construction
			.panel-body
				h3
					a(href="") Skills shortage in refrigeration mechanics to be filled by former Inpex workers
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
	.grid-item.mix.topic2
		.panel
			.image
			.tag
				a.light-blue(href="")  
					| topic1
			.panel-body
				h3
					a(href="") Skills shortage in refrigeration mechanics to be filled by former Inpex workers
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
	.grid-item.mix.Business
		.panel
			.image
				img(src="assets/images/img01.png")
				a.play(href="" title="play video") 
			.tag
				a.grey(href="") Business
			.panel-body
				h3
					a(href="") Lorem ipsum dolor sit amet
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus mauris sit amet libero commodo fringilla vel a ipsum. Vestibulum bibendum tincidunt ipsum...
			.panel-footer
				span.author Article by Scott Cain 
				span.date 21 Nov. 2016
.loadmore.text-center
	a#view-more(href="")
		| View more
